.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
h3 {
  margin-left: 30px;
}
.logo_small img {
  width: 70px;
  height: 40px;
}
.timer {
  margin-right: 55px;
  img {
    width: 60%;
  }
}
.timerdown {
  margin-top: 15px;
}
.time_label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.picture_img {
  position: relative;
  width: 100%;
  height: 365px;
  background: url('../full/98full.webp') center/cover;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
.question_slider {
  position: absolute;
  top: 700px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: dimgray;
    &:active {
      background-color: #710707;
    }
  }
}
.answers {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  columns: 2 160px;
  min-height: 120px;
  width: 100%;
}
.answers_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.variant {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  list-style: none;
  padding: 20px;
  text-transform: uppercase;
  width: 50%;
  &:hover {
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.78);
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.variant:nth-of-type(1) {
  border-bottom: 1px solid dimgray;
  border-right: 1px solid dimgray;
}
.variant:nth-of-type(2) {
  border-bottom: 1px solid dimgray;
  border-left: 1px solid dimgray;
}
.variant:nth-of-type(3) {
  border-right: 1px solid dimgray;
}
.picture_images {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
}
.picture_question {
  box-sizing: border-box;
  border-radius: 20px;
  min-width: 270px;
  min-height: 140px;
  background: url('../img/99.webp') center/cover;
  &:hover {
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.78);
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
}
