body {
  background-color: rgb(178, 241, 135);
}
.garage-header {
  display: flex;
  column-gap: 7%;
}
.wrapper-road {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 65%;
}
.race-car {
  width: 140px;
  position: relative;
}
.road-race {
  display: block;
  margin-top: -37px;
  border-bottom: green dotted;
  height: 3px;
  left: 0;
  width: 100%;
}
.flag {
	position: relative;
  width: 118px;
}
.hide {
  display: none;
}
.page-number {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.opacity {
  opacity: 0.5;
}
