$globe-width:   16px;
$globe-height:  18px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.light-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 140px);
    width: 800px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -400px;
    pointer-events: none;
    z-index: 90;
    overflow: hidden;
    pointer-events: none;

}

.lightrope,
.lightrope1,
.lightrope2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  transform: rotate(
65deg
) translate(60px) rotate(
-65deg
);
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    
    background: rgb(247, 243, 0);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(247, 243, 0);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(3n+1) {
        background: rgb(16, 0, 247);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(16, 0, 247);
        animation-name: flash-4;
        animation-duration: 1.1s;
      }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}

.lightrope1 {
    margin: -30px 0 0 0;
  }

.lightrope2 {
  margin: -45px 0 0 0;
}

@keyframes flash-1 { 
    0%, 100% { background: rgb(247, 243, 0);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 243, 1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(244, 247, 67, 0.856);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}

@keyframes flash-3 { 
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}
@keyframes flash-4 { 
    0%, 100% { background: rgb(16, 0, 247);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(16, 0, 247);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}