.noUi-target {
    margin-bottom: 35px;
}
.slider-output {
    margin-right: 140px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 40px;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    span {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;   
    }
}