@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.fa-snowflake {
  color: white;
  position: absolute;
  animation: fall linear forwards;
  z-index: 100;
}

@keyframes fall {
  to {
	transform: translateY(92vh);
  }
}

.countdown-container {
  display: flex;
  height: calc(100vh - 140px);
  width: 800px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -400px;
  pointer-events: none;
}


	
