@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.tree-page {
    
        background-color: #323975;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Muli', sans-serif;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        text-align: center;
    }



.fa-snowflake {
    font-family: 'Muli', sans-serif;
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
    z-index: 10;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}

.countdown-container {
	display: flex;
}


	
