.todo-icon {
  width: 42px;
  height: 42px;
  opacity: 0.6;
  cursor: pointer;
}
.todo-icon:hover {
  opacity: 1;
}
.todo-icon svg path {
  fill: #f1f8ed;
  opacity: 0.8;
}

.container-todo {
  padding: 1em;
  background-color: grey;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 21em;
  right: 2em;
  max-width: 400px;
  max-height: 300px;
  position: fixed;
  transform: translateX(120%);
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.visible {
  display: block;
  width: 400px;
  max-height: 300px;
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
  top: 21em;
  right: 2em;
  overflow-y: scroll;
  max-height: 300px;
  -webkit-transition: all 0.8s;
  transition: all 0.6s;
  z-index: 10;
}

.container-todo ul {
  margin: 0;
  padding: 0;
}
.container-todo li * {
  float: left;
}
.container-todo li,
.container-todo h3 {
  clear: both;
  list-style: none;
}
.container-todo input,
.container-todo button {
  outline: none;
}
.container-todo button {
  background: none;
  border: 0px;
  color: #fff;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  opacity: 0.8;
  cursor: pointer;
}
.container-todo button:hover {
  opacity: 1;
}
/* Heading */
.container-todo h3,
.container-todo label[for="new-task"] {
  color: #ffff;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.container-todo input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.container-todo input[type="text"]:focus {
  color: #333;
}

/* New Task */
.container-todo label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  float: left;
  width: 318px;
}
p > button:hover {
  color: #0fc57c;
}

/* Task list */
.container-todo li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.container-todo li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
.container-todo li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
.container-todo li > input[type="text"] {
  width: 226px;
}
.container-todo li > .delete:hover {
  color: #cf2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #ffff;
}

/* Edit Task */
.container-todo ul li input[type="text"] {
  display: none;
}

.container-todo ul li.editMode input[type="text"] {
  display: block;
}

.container-todo ul li.editMode label {
  display: none;
}
