@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}

:root {
  --bg-dark-color: #030303;
}
:root {
  --dark-red--color: #710707;
}
:root {
  --main-text-color: #ffffff;
}

:root {
  --gold-color: #9d8665;
}
:root {
  --dark-gold-color: #7e6c51;
}
:root {
  --color-progress-before: #c4c4c4;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.section {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 640px;
}
.video-section {
  padding-top: 90px;
}
.dark-section {
  background-color: var(--bg-dark-color);
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 240px 0 240px;
}
.header {
  height: 200px;
  margin: 0 auto;
  position: relative;
}
.navbar {
  padding-top: 74px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  margin-right: 525px;
}
.logo:hover {
  filter: opacity(50%);
  transition: filter 1.5s;
}
.menu {
  display: flex;
  max-width: 720px;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 76px;
}
.menu-item {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  list-style-type: none;
}
.menu-item a {
  text-decoration: none;
  color: var(--main-text-color);
}
.menu-item a:hover {
  color: var(--gold-color);
}
.menu-item a:active {
  color: var(--dark-gold-color);
}
.title-dark {
  position: relative;
  color: var(--main-text-color);
  font-family: "Forum";
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  z-index: 3;
}
.title-gold {
  position: relative;
  color: var(--gold-color);
  font-family: "Forum";
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  z-index: 3;
}
.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  height: 3px;
  left: 0;
  width: 100%;
  background-color: var(--dark-red--color);
}
.underline-card-title {
  position: relative;
}
.underline-card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  left: 0;
  width: 300px;
  background-color: var(--dark-red--color);
}
.item-tour:hover {
  width: 440px;
}
.welcome-container {
  display: flex;
  height: 390px;
  flex-direction: column;
}
.welcome-description {
  position: relative;
  margin-top: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--main-text-color);
  z-index: 3;
}
.welcome-btn {
  margin-top: 90px;
  position: relative;
  width: 360px;
  height: 75px;
  background: var(--dark-red--color);
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-text-color);
  z-index: 4;
  cursor: pointer;
}
.welcome-btn:hover {
  background: var(--gold-color);
}
.welcome-img {
  margin-right: 0;
  position: absolute;
  width: 1000px;
  height: 750px;
  right: 230px;
  top: 164px;
  background-image: url("../assets/img/background.png");
  z-index: 2;
}
.wrapper-tour {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 75px;
  align-items: center;
  justify-content: center;
}
.item-tour {
  display: block;
  width: 440px;
  height: 424px;
}
.header-tour {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--bg-dark-color);
}
.description-tour {
  margin-top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: var(--bg-dark-color);
}
.panorama {
  font-size: 18px;
}
.explore-container {
  display: flex;
  flex-direction: row;
}
.explore-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 75px;
  max-width: 660px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--main-text-color);
}
span {
  color: var(--gold-color);
}
.explore-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 660px;
  margin-right: 60px;
}
.explore-divider {
  margin-top: 25px;
  width: 660px;
  height: 3px;
  background: var(--dark-red--color);
  border-radius: 0px;
}
.explore-slider {
  max-width: 720px;
  max-height: 700px;
  display: flex;
  flex-direction: row;
}
.after-img {
  position: relative;
  width: 440px;
  height: 700px;
  z-index: 1;
  object-fit: cover;
}
.before-img {
  width: 720px;
  height: 700px;
  z-index: 2;
}
.video-wrapper {
  display: grid;
  grid-template-columns: 606px 720px;
  align-items: start;
  gap: 115px;
}
.video-description {
  width: 720px;
  margin-bottom: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--bg-dark-color);
}
.video-slider {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 42px;
  width: 100%;
}
.video-section img {
  width: 100%;
}
.video-slider img {
  width: 452px;
  height: 254px;
}
.video-player {
  width: 1440px;
  height: 85px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: var(--bg-dark-color);
  border-radius: 0px;
}
.progress {
  background: linear-gradient(
    to right,
    var(--dark-red--color) 0%,
    var(--dark-red--color) 40%,
    var(--color-progress-before) 40%,
    var(--color-progress-before) 100%
  );
  border: solid 2px var(--dark-red--color);
  border-radius: 8px;
  width: 929px;
  height: 15px;

  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.volume {
  width: 155px;
  height: 8px;
}
.full-screen:hover svg path,
.play-button:hover svg path {
  fill: var(--main-text-color);
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: var(--main-text-color);
}
.picture-container {
  max-height: 1975px;
  overflow-y: hidden;
}

.picture-inner-container img {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  object-fit: none;
}
.picture-inner-container {
  columns: 3 456px;
  column-gap: 36px;
}
.picture-inner-container div {
  display: inline-block;
  text-align: center;
}
.gallery-section {
  position: relative;
  z-index: 1;
}
.gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 225px;
  right: 0;
  top: 1918px;
  background: linear-gradient(
    to top,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}

.parallax-img {
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/parallax.jpg);
}
.contacts-wrapper {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  gap: 198px;
}
.contacts-header {
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: var(--bg-dark-color);
}
.contacts-description p,
.contacts-description a {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--bg-dark-color);
}
.footer {
  min-height: 392px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(106px, auto));
  column-gap: 150px;
  row-gap: 25px;
}
.footer-social {
  margin-left: 397px;
  padding-top: 222px;
  display: flex;
  gap: 25px;
}
.footer-social a:hover svg path {
  fill: var(--gold-color);
}
.footer-social a:active svg path {
  fill: var(--dark-gold-color);
}
.footer-social ul li {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}
.footer-social li {
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
}
.footer-social li:hover {
  border: 1px solid var(--gold-color);
}
.footer-logo {
  margin-top: 75px;
  margin-right: 145px;
  margin-left: 240px;
}
.footer-divider {
  margin-top: 55px;
  height: 3px;
  background-color: #666666;
}
.footer-underline {
  display: flex;
  padding: 48px 0 48px 0;
  justify-content: space-between;
}
.footer-underline p,
.footer-underline a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: var(--main-text-color);
}

.footer-underline a:hover {
  color: var(--gold-color);
}
.footer-underline a:active {
  color: var(--dark-gold-color);
}

.tickets-container {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.tickets-img {
  margin-right: 60px;
}
.ticket-type {
  max-width: 270px;
  margin-right: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.mini-container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--bg-dark-color);
}
.mini-container input {
  cursor: pointer;
}
.amount {
  width: 150px;
  height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-type h3,
.amount h3,
.sum {
  margin-top: 50px;
  padding-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--bg-dark-color);
}
.amount p {
  margin-top: 10px;
  padding-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--bg-dark-color);
}
.buy {
  margin-top: 27px;
  width: 175px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: var(--bg-dark-color);
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-text-color);
  cursor: pointer;
}
.buy:hover {
  background-color: var(--gold-color);
  color: var(--bg-dark-color);
}
.number {
  all: unset;
  width: 4em;
  text-align: center;
}
.number-tickets input {
  font-size: 22px;
}
.number-tickets button {
  border: none;
  background-color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  color: var(--bg-dark-color);
  cursor: pointer;
}
.number-tickets {
  border: 3px solid var(--bg-dark-color);
  box-sizing: border-box;
  border-radius: 0px;
}
