@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/museum/assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/museum/assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("/museum/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/museum/assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/museum/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Forum";
  src: url("/museum/assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.section {
  margin: 0 auto;
  padding-top: 75px;
  min-height: 640px;
}
.video-section {
  padding-top: 90px;
}
.dark-section {
  background-color: #030303;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
}
.header {
  max-width: 1440px;
  height: 200px;
  margin: 0 auto;
  padding: 0 240px 0 240px;
  position: relative;
  background-color: #030303;
}
.navbar {
  padding-top: 74px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  margin-right: 525px;
}
.menu {
  display: flex;
  max-width: 720px;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 76px;
}
.menu-item {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: white;
  list-style-type: none;
}

.title-dark {
  position: relative;
  color: white;
  font-family: "Forum";
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  z-index: 3;
}
.welcome-container {
  display: flex;
  width: 598px;
  height: 390px;
  flex-direction: column;
  margin-left: 240px;
}
.welcome-description {
  position: relative;
  margin-top: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  z-index: 3;
}
.welcome-btn {
  margin-top: 90px;
  position: relative;
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  z-index: 4;
}
.welcome-img {
  margin-right: 0;
  position: absolute;
  width: 1215px;
  height: 750px;
  right: 230px;
  top: 164px;
  background-image: url("../assets/img/background.jpg");
  z-index: 2;
}
