@media (max-width: 1024px) {
  .section {
    padding-top: 60px;
    padding-bottom: 56px;
  }
  .container {
    max-width: 984px;
  }
  .welcome {
    min-height: 555px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header {
    height: 130px;
  }
  .navbar {
    padding-top: 29px;
    padding-left: 10px;
  }
  .title-dark,
  .title-gold {
    font-size: 50px;
  }
  .underline-title::after {
    bottom: -15px;
  }
  .menu-top {
    display: none;
  }
  .welcome-container {
    margin-top: 35px;
    margin-left: 20px;
  }
  .welcome-description {
    margin-top: 22px;
    font-size: 24px;
  }
  .welcome-slider {
    top: 130px;
    width: 700px;
    grid-template: 525px;
  }
  .slider__item-active {
    width: 100%;
    height: 100%;
  }

  .slider-control {
    top: 465px;
    left: 322px;
  }
  .control-dots {
    margin-left: 20px;
    justify-content: space-around;
  }
  .control-dot {
    width: 12px;
    height: 12px;
  }
  .current,
  .total {
    font-size: 20px;
  }
  .total {
    margin-left: -5px;
  }
  .current {
    margin-left: 120px;
  }
  .control-arrows {
    margin-right: 77px;
  }
  .welcome-img {
    left: 220px;
    width: 700px;
    height: 525px;
    top: 0px;
  }
  .welcome-btn {
    margin-top: 48px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
  }

  /* virtyal */
  .virtual {
    margin-left: 18px;
  }
  .wrapper-tour {
    margin-top: 75px;
    justify-content: center;
    column-gap: 107px;
    row-gap: 56px;
  }
  #visiting {
    line-height: 83px;
  }

  .item-tour {
    width: 329px;
    height: 349px;
    line-height: 30px;
  }
  .header-tour {
    margin-top: 15px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 3px;
  }
  .header-tour:after {
    width: 150px;
    bottom: -10px;
  }
  .description-tour {
    margin-top: 17px;
    font-size: 20px;
    line-height: 32px;
  }
  .panorama {
    font-size: 16px;
  }
  .item-tour img {
    width: 330px;
    height: 215px;
  }
  /* explore-section */
  .explore {
    min-height: 1029px;
    padding-top: 53px;
    padding-bottom: 67px;
    padding-left: 17px;
  }
  .explore-container {
    flex-direction: column;
  }
  .explore-divider {
    margin-top: -13px;
    width: 100%;
  }
  .explore-description {
    display: block;
    width: 100%;
    margin-top: 36px;
    font-size: 20px;
    line-height: 36px;
    max-width: none;
  }
  .remove {
    display: none;
  }

  .explore-slider {
    margin-top: 62px;
    left: 133px;
  }
  .video-section {
    padding-top: 53px;
    min-height: 892px;
  }
  #video {
    left: 8px;
  }
  .video-description {
    display: none;
  }
  .player-wrapper {
    margin-left: 8px;
  }
  .video-main {
    margin-top: 30px;
    width: 984px;
    height: 504px;
  }
  .video-main iframe {
    width: 100%;
    height: 100%;
  }
  .video-player {
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: 2;
    top: 445px;
  }
  .volume-icon {
    width: 26px;
    height: 20px;
  }
  .play-button {
    margin-left: 24px;
    width: 23px;
    height: 30px;
  }
  .full-screen {
    margin-right: 15px;
    width: 26px;
    height: 26px;
  }
  .progress {
    width: 564px;
    height: 5px;
  }
  .volume {
    width: 143px;
    height: 5px;
  }
  .video-slider {
    margin-top: 41px;
    margin-left: 7px;
  }
  .video-slider iframe {
    width: 300px;
    height: 170px;
  }

  .video-slider-panel {
    padding-top: 37px;
    padding-left: 14px;
  }
  /* gallery-section */
  .gallery-section {
    padding-top: 53px;
    padding-bottom: 29px;
    margin-left: 16px;
  }
  .picture-container {
    margin-top: 26px;
    max-height: 1262px;
  }

  .picture-inner-container {
    columns: 3 304px;
  }

  .picture-inner-container img {
    margin-top: 24px;
  }
  .gradient {
    height: 239px;
    top: 1193px;
  }
  .ticket-type {
    display: none;
  }

  /* tickets */
  .section-tickets {
    margin-left: 16px;
    padding-top: 53px;
    padding-bottom: 5px;
  }
  .tickets-container {
    margin-top: 75px;
  }

  .tickets-img {
    margin-right: 0;
    width: 700px;
    height: 440px;
    object-fit: cover;
  }
  .amount {
    padding-left: 18px;
    align-items: flex-start;
  }
  .amount h3 {
    padding-right: 77px;
  }
  .number-tickets {
    margin-bottom: 10px;
  }
  .sum {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* contacts */

  .section-contacts {
    padding-top: 53px;
    padding-bottom: 21px;
    margin-left: 8px;
  }
  .contacts-wrapper {
    margin-top: 74px;
    column-gap: 0;
  }
  .contacts-header {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 26px;
  }
  .contacts-description p,
  .contacts-description a {
    font-size: 20px;
    margin-top: 18px;
    line-height: 39px;
  }
  .contacts-wrapper iframe {
    height: 454px;
  }
  /* footer */

  .footer-section {
    padding-top: 39px;
  }
  .footer-social {
    padding-top: 105px;
    gap: 24px;
  }
  .footer-social li {
    margin-right: 0;
  }
  .footer-logo {
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 40px;
  }
  .footer-navbar {
    margin-right: 32px;
    padding-left: 0;
    padding-top: 16px;
    min-width: 367px;
  }
  .footer-menu {
    column-gap: 64px;
  }
  .footer-underline {
    margin-right: 3px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 728px;
  }
}
@media (max-width: 420px) {
  .container {
    width: 380px;
  }
}
